@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
  }

  p {
    line-height: 1.5;
    text-align: justify;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .text-column {
    flex: 2;
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
 /* ----------contact------------- */
 .contact {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  .contact-info {
    width: 50%;
    float: left;
  }
  
  .contact-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-form {
    width: 50%;
    float: left;
  }
  
  .contact-form h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #003329;
    color: #333;
    text-align: center;
    padding: 10px;
}

#msg{
    color: #61b752;
    margin-top: -1px;
    display: block;

}
